#container {
    padding: 2em;
    background-image: url('img/background2.jpg');
    position: fixed;
}

header {
    background-image: url('img/aot-fury-titan-desktop-wallpaper-preview.jpg');
    padding: 20px;
    
}

body {
    margin: auto;
    padding: auto;
    width: 80%;
    background-color: #c1c2bc;
}

h1 {
    text-shadow: 1px 1px 4px;
    color: #314a20;
    display: flex;
    justify-content: center;
}

.t1 {
    color: #da791f;
    text-shadow: 1px 1px 3px;
}

.s1 {
    color: #c1c2bc;
    background-color: #314a20;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

p {
    font-size: 30px;
}

.img1 {
    width: 300px;
    height: 200px;
    margin-right: 20px;
    padding: 15px;   
    opacity: 0.8;
}

.img1:hover {
    opacity: 1;
    
}

button {
    width: 100px;
    height: 30px;
    background-color: #725436;
    border: solid 1px black;
    border-radius: 10px;
    float: right;
    margin-right: 70px;
}

button:hover {
    background-color: #5c4631;
    font-weight: bold;
}

/*--------------------------------------------------------------*/

.s2 { 
 background-color: #314a20;
 display: flex;
 padding: 20px;
 margin-bottom: 30px;
 
}

.video {
    float: left;
}

.t2 {
    color: #725436;
    margin-left: 20px;
}

.p2 {
    margin-left: 20px;
    color: #c1c2bc;
}

strong {
    color: #da791f;
    text-shadow: 1px 1px 4px;
}

.s3 {
 background-color: #314a20;
 display: flex;
}

img {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 200px;
}

footer {
    margin-bottom: 30px;
    text-align: center;
    color: #da791f;
    text-shadow: 1px 1px 4px;
    opacity: 0.5;
}

footer:hover {
    opacity: 1.0;
}

p {
    color: #c1c2bc ;
}